{% extends "base.html" %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('images/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>Kirk's blog</h2>
                            <span class="subheading">All about me, and the things I'm interested in.</span>
                        </div>
                      </div>
                    </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <span class="subheading">he / him / his</span>
                        <p>Husband. Dad. A dude with a lot of things to do and not enough time to do it all. Or maybe it's too much to do and not enough fucks to care? Probably a combination of the two.</p>
                        <p>I like to make things, with my hands and with my tools. I particularly like making things with my 3d printer(s) and my CNC (which I made with my 3d printer).</p>
                        <p>I try to make tech things with security and privacy in mind. Once I get some of the old blog posts migrated to this new site layout, some security focused content should be there. Stuff about protecting the fam in an online world. And how to do it reliably and without breaking the bank.</p>
                    </div>
                </div>
            </div>
        </main>
        {%endblock%}