{% extends "base.html" %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('images/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                    <h2>Kirk's blog</h2>
                    <span class="subheading">All about me, and the things I'm interested in.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in post_list %}
            <div class="post-preview">
                <a href="{% url 'post_detail' post.slug  %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                </a>
                    <p class="post-subtitle">{{ post.rendered_summary | safe }}</p>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.author }}</a>
                    on {{ post.publish_date }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}