{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">This blog is about my interests. It is a work in progress, but I really only work on it when I am bored. Switching it to Django gives me something to do.</p>
        <a href="https://github.com/kgleason"
           class="btn">See my stuff!</a>
    </div>
</div>
</div>

{% endblock sidebar %}