blinker>=1.4
click>=5.1
cloudpickle>=0.1.1
docutils>=0.12
doit>=0.29.0
first>=2.0.1
husl>=4.0.3
Jinja2>=2.8
livereload>=2.4.0
Logbook>=0.11.2
lxml>=3.4.4
Mako>=1.0.2
Markdown>=2.6.3
MarkupSafe>=0.23
micawber>=0.3.3
natsort>=4.0.3
Nikola>=7.7.2
Pillow>=3.0.0
pip-tools>=1.1.6
Pygments>=2.0.2
pyinotify>=0.9.6
PyRSS2Gen>=1.1
python-dateutil>=2.4.2
requests>=2.8.1
six>=1.10.0
tornado>=4.2.1
Unidecode>=0.4.18
webassets>=0.11.1
Yapsy>=1.11.223
